@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  border: 2px solid green;
  overflow-x: hidden;
  background: red;
  color: black;
  user-select: none;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }

  .section{
    @apply w-full relative flex-center flex-col text-[3vmin] h-max py-[5vmin] gap-[5vmin]
  }

  .imgCarousel {
    @apply shrink-0 hover:scale-105 transition-all ease-linear
  }

  .bbw {
    @apply border-2 border-white
  }
  .bbr {
    @apply border-2 border-red-600
  }
  .bbs {
    @apply border-2 border-sky-600
  }
  
  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}


}